table {
    background-color: burlywood;
}
#input1{
    background-color: aqua;
}
input{
    background-color: blue;
}
.common{
    background-color: sienna;
}
.common2{
    background-color: darkslateblue;
}